/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2017, 9:45:24 AM
    Author     : user
*/

.logo > span {
    font-weight: 500;
    color: #cd0534;
}

.form-signin .form-control:focus {
    border-color: #cd0534 !important;
    outline: 0 !important;
}

.btn-signin {
    color: #fff !important;
    background-color: #cd0534 !important;
}

.btn-signin:hover {
    color: #cd0534 !important;
    background-color: #fff !important;
    border-color: #cd0534 !important;
    border: 1px solid !important;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    color: #cd0534;
    background-color: #fff;
    border-color: #cd0534;
    border: 1px solid;
}

.forgot-password {
    color: #cd0534;
    margin-top: 5px;
}

.dashboard {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 0;
    width: 100%;
    color: #666;
    background: #fff;
}

.logout>li>a {
    cursor: pointer;
    font-size: 14px;
    color: #cd0534;
    font-weight: 500;
    text-transform: uppercase;
}

.logout>li>a:hover {
    background-color: #fff !important;
    transition: .35s ease-in-out !important;
    color: #999 !important;
    font-weight: 500 !important;
}

.logout>li:nth-last-child(1) a {
    font-size: 18px;
    color: #666;
}

.back>li>a:hover {
    background: none;
    color: #cd0534;
    transition: .35s ease-in-out;
}

.nav-sidebar>li>a>i {
    color: #cd0534;
    padding-right: 10px;
}

.profile-userpic {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid #cc0434;
    border-radius: 50px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

.logo > span {
    font-weight: 500;
    color: #cd0534;
}

.navbar-static-top {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    margin-top: -20px !important;
    margin-right: -20px;
    margin-left: -20px;
    color: #999;
    font-weight: 300;
}

.back>li>a {
    font-size: 18px;
    color: #666;
    cursor: pointer;
    font-weight: 300;
    padding: 18px 10px 12px 5px;
}

.back>li>a:hover {
    background: none;
    color: #cd0534;
    transition: .35s ease-in-out;
}

.nav-sidebar>li>a>i {
    color: #cd0534;
    padding-right: 10px;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #cd0534;
    transition: .35s ease-in-out;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #cd0534;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #cd0534;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #cd0534;
}

.cis-menu>li>a {
    font-size: 12px;
    color: #999;
    font-weight: 400;
    text-transform: uppercase;
}

.cis-menu>li>a:hover {
    background-color: #fff !important;
    transition: .35s ease-in-out !important;
    color: #cd0534 !important;
    font-weight: 500 !important;
}

ul.soap-content a {
    float: left;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    display: inline-block;
    overflow: hidden;
    font-weight: 500;
    color: #666;
}

ul.soap-content>li>a:hover{
    background: #cd0534;
    border: 1px solid #cd0534;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    transition: .35s ease-in-out;
}

ul.soap-content>li>a:focus {
    background: none;
    color: #cd0534;
}

.sub-soap>li>a {
    background: #fff;
    border: 1px solid #ddd;
    float: left;
    margin: 5px;
    overflow: hidden;
    padding: 5px;
    border-radius: 4px;
    width: auto;
    font-size: 12px;
    font-weight: 500;
    color: #666;
}

.sub-soap>li>a:hover {
    background: #cd0534;
    border: 1px solid #cd0534;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    transition: .35s ease-in-out;
}

.sub-soap>li>a>i {
    display: none !important;   
}

.material-button {
    position: relative;
    top: 0;
    z-index: 1;
    width: 44px;
    height: 44px;
    font-size: 1.5em;
    color: #fff;
    background: #cd0534 !important;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.275);
    outline: none;
}

.sidebar a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 15px !important;
}

.sidebar a:hover, .sidebar a:focus {
    color: #cd0534 !important;
    background-color: #fff !important;
    text-decoration: none;
    transition: .35s ease-in-out;
}

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../ring-red.svg) center no-repeat !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

.forgot-password {
    color: #cd0534 !important;
    margin-top: 5px;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: #666 !important;
}